body {
    overflow-x: hidden!important;    
}

.footer {
    margin-top: 20rem;
}

pre, code {
    background-color: #EEF0F1 !important;
    color: #000 !important;    
}

pre {
    padding: 2rem;
}



.curved-radius {
    border-radius: 10px !important;
}

@import "~bootstrap/scss/bootstrap";