body {
  overflow-x: hidden !important;
}

.footer {
  margin-top: 20rem;
}

pre,
code {
  background-color: #eef0f1 !important;
  color: #000 !important;
}

pre {
  padding: 2rem;
}

.curved-radius {
  border-radius: 5px !important;
}



.blue-bg {
    @media (min-width: 768px) {
        background: #007bff;
        color: white !important;
    }
  }